:root {
  --color-link-hover: red;
  --margin-px: 20px;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: var(--margin-px);
}

.container_column {
  overflow-y: scroll;
  width: 580px;
}

.no_line {
  text-decoration: none;
  font-size: 23px;
}

.no_line::before {
  content: url(/hw13/13a/images/extref.png);
  margin-right: 5px;
}

.no_line:hover {
  color: var(--color-link-hover);
}

.indent,
.h1_indent {
  margin-bottom: var(--margin-px);
}
