body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue; }
  body .container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    width: 300px;
    box-shadow: 10px 5px 5px grey;
    background-image: url(/images/back_weather.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; }

.container h1, .container p, .container .nav {
  font-family: cursive;
  color: white; }

.container h1 {
  font-size: 56px;
  margin-bottom: 0; }

.container p {
  font-size: 20px;
  margin-bottom: 50px; }

.container .nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 18px;
  margin-top: 30px; }

.container svg {
  padding-right: 5px; }
  .container svg path {
    stroke: white; }

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/back_weather.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px; 
  }
