:root {
  --main-color: white;
  --second-color: black;
}

body {
  max-width: 1400px;
  background-color: var(--second-color);
  margin: 0;
}

h1,
h2 {
  text-align: center;
  color: var(--main-color);
}

.menu {
  width: 20%;
  float: left;
  background-color: var(--second-color);
}

li,
a {
  color: var(--main-color);
}

.header {
  background-color: var(--second-color);
  color: var(--main-color);
  padding: 1px;
}

.content {
  background-color: var(--second-color);
  color: var(--main-color);
  float: left;
  width: 80%;
}

.footer {
  background-color: var(--second-color);
  color: var(--main-color);
  text-align: center;
  clear: both;
  padding: 15px;
}

.pic {
  max-width: 140px;
  max-height: 200px;
  padding-right: 15px;
  float: left;
}

.fast {
  margin-top: 10px;
  clear: both;
}

.furios {
  margin-top: 55px;
}

.fix_block {
  position: fixed;
  top: 80px;
  right: 50px;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: darkslategrey;
  text-align: center;
}

.fix_block a {
  text-decoration: none;
}

.fix_block a:hover {
  color: gray;
}
